In [1]:
import numpy as np #lib para cálculos e funções em arrays multidimensionais
import pandas as pd #pandas - libpra manipulação e análise de dados de alta performance

## 1 - INGESTÃO: Carregando primeiro Dataset ##

In [2]:
cor_se_temp = pd.read_csv('cor-semana-covid.csv', sep=';', encoding = "ISO-8859-1",skiprows=[0,1,2,3,12,13,14,15])

print('\nTabela Original - Óbitos por covid / Raça / Semana Epidemiológica')

display(cor_se_temp)

Tabela Original - Óbitos por covid / Raça / Semana Epidemiológica

,Cor,SE_20 11_1ºÓbito Covid19,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,...,SE_20 39,SE_20 40,SE_20 41,SE_20 42,SE_20 43,SE_20 44,SE_20 45,SE_20 46,SE_20 47,Total
0,Branca,3,48,178,366,445,452,519,656,620,...,165,174,128,101,89,79,92,124,51,12745
1,Preta,-,2,15,56,66,56,82,104,87,...,27,22,20,18,15,7,13,13,4,1903
2,Amarela,-,2,10,16,18,21,31,24,30,...,5,5,4,7,4,3,2,5,3,471
3,Parda,-,5,37,128,178,189,215,291,303,...,55,54,53,45,30,27,28,36,18,4927
4,Indígena,-,-,1,-,2,-,1,-,2,...,1,-,-,-,-,-,1,-,-,14
5,Não informado,-,-,12,17,25,28,22,42,41,...,8,11,5,7,6,4,2,3,1,689
6,Total,3,57,253,583,734,746,870,1117,1083,...,261,266,210,178,144,120,138,181,77,20749

## 2 - Tratamento dos dados

In [3]:
## Converter os valores todos para numérico, se der erro, setar como NaN e depois converter pro número 0
cor_se = cor_se_temp.apply(pd.to_numeric, errors='coerce').fillna(0)

print('\nResultado do Primeiro Tratamento - Óbitos por covid / Raça / Semana Epidemiológica')


display(cor_se)

Resultado do Primeiro Tratamento - Óbitos por covid / Raça / Semana Epidemiológica

,Cor,SE_20 11_1ºÓbito Covid19,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,...,SE_20 39,SE_20 40,SE_20 41,SE_20 42,SE_20 43,SE_20 44,SE_20 45,SE_20 46,SE_20 47,Total
0,0.0,3.0,48.0,178,366.0,445,452.0,519,656.0,620,...,165,174.0,128.0,101.0,89.0,79.0,92,124.0,51.0,12745
1,0.0,0.0,2.0,15,56.0,66,56.0,82,104.0,87,...,27,22.0,20.0,18.0,15.0,7.0,13,13.0,4.0,1903
2,0.0,0.0,2.0,10,16.0,18,21.0,31,24.0,30,...,5,5.0,4.0,7.0,4.0,3.0,2,5.0,3.0,471
3,0.0,0.0,5.0,37,128.0,178,189.0,215,291.0,303,...,55,54.0,53.0,45.0,30.0,27.0,28,36.0,18.0,4927
4,0.0,0.0,0.0,1,0.0,2,0.0,1,0.0,2,...,1,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,14
5,0.0,0.0,0.0,12,17.0,25,28.0,22,42.0,41,...,8,11.0,5.0,7.0,6.0,4.0,2,3.0,1.0,689
6,0.0,3.0,57.0,253,583.0,734,746.0,870,1117.0,1083,...,261,266.0,210.0,178.0,144.0,120.0,138,181.0,77.0,20749

In [4]:
## Como eu perdi os dados da coluna 0 (que foram transformados no valor 0), preciso resgatar do Dataset original e sobrescrever.
cor_se['Cor'] = cor_se_temp['Cor']

print('\nResultado do Segundo Tratamento - Óbitos por covid / Raça / Semana Epidemiológica')


display(cor_se)

Resultado do Segundo Tratamento - Óbitos por covid / Raça / Semana Epidemiológica

,Cor,SE_20 11_1ºÓbito Covid19,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,...,SE_20 39,SE_20 40,SE_20 41,SE_20 42,SE_20 43,SE_20 44,SE_20 45,SE_20 46,SE_20 47,Total
0,Branca,3.0,48.0,178,366.0,445,452.0,519,656.0,620,...,165,174.0,128.0,101.0,89.0,79.0,92,124.0,51.0,12745
1,Preta,0.0,2.0,15,56.0,66,56.0,82,104.0,87,...,27,22.0,20.0,18.0,15.0,7.0,13,13.0,4.0,1903
2,Amarela,0.0,2.0,10,16.0,18,21.0,31,24.0,30,...,5,5.0,4.0,7.0,4.0,3.0,2,5.0,3.0,471
3,Parda,0.0,5.0,37,128.0,178,189.0,215,291.0,303,...,55,54.0,53.0,45.0,30.0,27.0,28,36.0,18.0,4927
4,Indígena,0.0,0.0,1,0.0,2,0.0,1,0.0,2,...,1,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,14
5,Não informado,0.0,0.0,12,17.0,25,28.0,22,42.0,41,...,8,11.0,5.0,7.0,6.0,4.0,2,3.0,1.0,689
6,Total,3.0,57.0,253,583.0,734,746.0,870,1117.0,1083,...,261,266.0,210.0,178.0,144.0,120.0,138,181.0,77.0,20749

In [5]:
#removendo a primeira e as 2 últimas colunas
cor_se_norm = cor_se.loc[:, cor_se.columns[1:-2]]

#realizando a soma cumulativa através das colunas (da esquerda pra direita ------->)
cor_se_norm = cor_se_norm.cumsum(axis=1)

display(cor_se_norm)

,SE_20 11_1ºÓbito Covid19,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,SE_20 20,...,SE_20 37,SE_20 38,SE_20 39,SE_20 40,SE_20 41,SE_20 42,SE_20 43,SE_20 44,SE_20 45,SE_20 46
0,3.0,51.0,229.0,595.0,1040.0,1492.0,2011.0,2667.0,3287.0,3975.0,...,11533.0,11742.0,11907.0,12081.0,12209.0,12310.0,12399.0,12478.0,12570.0,12694.0
1,0.0,2.0,17.0,73.0,139.0,195.0,277.0,381.0,468.0,590.0,...,1728.0,1764.0,1791.0,1813.0,1833.0,1851.0,1866.0,1873.0,1886.0,1899.0
2,0.0,2.0,12.0,28.0,46.0,67.0,98.0,122.0,152.0,170.0,...,426.0,433.0,438.0,443.0,447.0,454.0,458.0,461.0,463.0,468.0
3,0.0,5.0,42.0,170.0,348.0,537.0,752.0,1043.0,1346.0,1645.0,...,4515.0,4581.0,4636.0,4690.0,4743.0,4788.0,4818.0,4845.0,4873.0,4909.0
4,0.0,0.0,1.0,1.0,3.0,3.0,4.0,4.0,6.0,7.0,...,12.0,12.0,13.0,13.0,13.0,13.0,13.0,13.0,14.0,14.0
5,0.0,0.0,12.0,29.0,54.0,82.0,104.0,146.0,187.0,227.0,...,633.0,642.0,650.0,661.0,666.0,673.0,679.0,683.0,685.0,688.0
6,3.0,60.0,313.0,896.0,1630.0,2376.0,3246.0,4363.0,5446.0,6614.0,...,18847.0,19174.0,19435.0,19701.0,19911.0,20089.0,20233.0,20353.0,20491.0,20672.0

In [6]:
#adicionando novamente a coluna das cores
cor_se_norm['Cor'] = cor_se['Cor']
display(cor_se_norm)

,SE_20 11_1ºÓbito Covid19,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,SE_20 20,...,SE_20 38,SE_20 39,SE_20 40,SE_20 41,SE_20 42,SE_20 43,SE_20 44,SE_20 45,SE_20 46,Cor
0,3.0,51.0,229.0,595.0,1040.0,1492.0,2011.0,2667.0,3287.0,3975.0,...,11742.0,11907.0,12081.0,12209.0,12310.0,12399.0,12478.0,12570.0,12694.0,Branca
1,0.0,2.0,17.0,73.0,139.0,195.0,277.0,381.0,468.0,590.0,...,1764.0,1791.0,1813.0,1833.0,1851.0,1866.0,1873.0,1886.0,1899.0,Preta
2,0.0,2.0,12.0,28.0,46.0,67.0,98.0,122.0,152.0,170.0,...,433.0,438.0,443.0,447.0,454.0,458.0,461.0,463.0,468.0,Amarela
3,0.0,5.0,42.0,170.0,348.0,537.0,752.0,1043.0,1346.0,1645.0,...,4581.0,4636.0,4690.0,4743.0,4788.0,4818.0,4845.0,4873.0,4909.0,Parda
4,0.0,0.0,1.0,1.0,3.0,3.0,4.0,4.0,6.0,7.0,...,12.0,13.0,13.0,13.0,13.0,13.0,13.0,14.0,14.0,Indígena
5,0.0,0.0,12.0,29.0,54.0,82.0,104.0,146.0,187.0,227.0,...,642.0,650.0,661.0,666.0,673.0,679.0,683.0,685.0,688.0,Não informado
6,3.0,60.0,313.0,896.0,1630.0,2376.0,3246.0,4363.0,5446.0,6614.0,...,19174.0,19435.0,19701.0,19911.0,20089.0,20233.0,20353.0,20491.0,20672.0,Total

## 3 - Exportanto resultado

In [7]:
cor_se_norm.to_csv('cor-semana-covid-tratado.csv')