In [1]:
import numpy as np #lib para cálculos e funções em arrays multidimensionais
import pandas as pd #pandas - lib para manipulação e análise de dados de alta performance
import time #lib para manipulação de datas

In [2]:
#Carregando o dataset de população por idade por raça
mort_ml = pd.read_csv('mortalidade-cor-semana-tratado.csv', sep=',')

#Removendo a coluna de índice
mort_ml = mort_ml.iloc[: , 1:]

#Exibindo o dataset
print('\nTabela Pré-Tratada - Mortalidade Cor Semana')
display(mort_ml)

Tabela Pré-Tratada - Mortalidade Cor Semana

,Cor,Habitantes,Semana,Óbitos,Óbitos por 100 mil
0,Branca,6824668,SE_20 11_1ºÓbito Covid19,3.0,0.043958
1,Preta,736083,SE_20 11_1ºÓbito Covid19,0.0,0.000000
2,Amarela,246244,SE_20 11_1ºÓbito Covid19,0.0,0.000000
3,Parda,3433218,SE_20 11_1ºÓbito Covid19,0.0,0.000000
4,Indígena,12977,SE_20 11_1ºÓbito Covid19,0.0,0.000000
5,Branca,6824668,SE_20 12,51.0,0.747289
6,Preta,736083,SE_20 12,2.0,0.271708
7,Amarela,246244,SE_20 12,2.0,0.812203
8,Parda,3433218,SE_20 12,5.0,0.145636
9,Indígena,12977,SE_20 12,0.0,0.000000
10,Branca,6824668,SE_20 13,229.0,3.355475
11,Preta,736083,SE_20 13,17.0,2.309522
12,Amarela,246244,SE_20 13,12.0,4.873215
13,Parda,3433218,SE_20 13,42.0,1.223342
14,Indígena,12977,SE_20 13,1.0,7.705941
15,Branca,6824668,SE_20 14,595.0,8.718373
16,Preta,736083,SE_20 14,73.0,9.917360
17,Amarela,246244,SE_20 14,28.0,11.370835
18,Parda,3433218,SE_20 14,170.0,4.951623
19,Indígena,12977,SE_20 14,1.0,7.705941
20,Branca,6824668,SE_20 15,1040.0,15.238837
21,Preta,736083,SE_20 15,139.0,18.883740
22,Amarela,246244,SE_20 15,46.0,18.680658
23,Parda,3433218,SE_20 15,348.0,10.136263
24,Indígena,12977,SE_20 15,3.0,23.117824
25,Branca,6824668,SE_20 16,1492.0,21.861869
26,Preta,736083,SE_20 16,195.0,26.491578
27,Amarela,246244,SE_20 16,67.0,27.208785
28,Parda,3433218,SE_20 16,537.0,15.641302
29,Indígena,12977,SE_20 16,3.0,23.117824
...,...,...,...,...,...
150,Branca,6824668,SE_20 41,12209.0,178.895149
151,Preta,736083,SE_20 41,1833.0,249.020831
152,Amarela,246244,SE_20 41,447.0,181.527266
153,Parda,3433218,SE_20 41,4743.0,138.150272
154,Indígena,12977,SE_20 41,13.0,100.177237
155,Branca,6824668,SE_20 42,12310.0,180.375075
156,Preta,736083,SE_20 42,1851.0,251.466207
157,Amarela,246244,SE_20 42,454.0,184.369974
158,Parda,3433218,SE_20 42,4788.0,139.460995
159,Indígena,12977,SE_20 42,13.0,100.177237
160,Branca,6824668,SE_20 43,12399.0,181.679167
161,Preta,736083,SE_20 43,1866.0,253.504021
162,Amarela,246244,SE_20 43,458.0,185.994380
163,Parda,3433218,SE_20 43,4818.0,140.334811
164,Indígena,12977,SE_20 43,13.0,100.177237
165,Branca,6824668,SE_20 44,12478.0,182.836733
166,Preta,736083,SE_20 44,1873.0,254.455000
167,Amarela,246244,SE_20 44,461.0,187.212683
168,Parda,3433218,SE_20 44,4845.0,141.121245
169,Indígena,12977,SE_20 44,13.0,100.177237
170,Branca,6824668,SE_20 45,12570.0,184.184784
171,Preta,736083,SE_20 45,1886.0,256.221106
172,Amarela,246244,SE_20 45,463.0,188.024886
173,Parda,3433218,SE_20 45,4873.0,141.936807
174,Indígena,12977,SE_20 45,14.0,107.883178
175,Branca,6824668,SE_20 46,12694.0,186.001722
176,Preta,736083,SE_20 46,1899.0,257.987211
177,Amarela,246244,SE_20 46,468.0,190.055392
178,Parda,3433218,SE_20 46,4909.0,142.985386
179,Indígena,12977,SE_20 46,14.0,107.883178

In [3]:
#display(mort_ml.columns[3:-1])

mort_melt = mort_ml.melt(id_vars=['Semana','Cor'], value_vars = mort_ml.columns[3:-1],var_name='TIPO', value_name='ÓBITOS')

#cor_se_melt = cor_se_soma.melt(id_vars=['Cor', 'Habitantes'], value_vars = cor_se_norm.columns[1:-2],var_name='Semana', value_name='Óbitos')

display(mort_melt)

                       Semana       Cor    TIPO   ÓBITOS
0    SE_20 11_1ºÓbito Covid19    Branca  Óbitos      3.0
1    SE_20 11_1ºÓbito Covid19     Preta  Óbitos      0.0
2    SE_20 11_1ºÓbito Covid19   Amarela  Óbitos      0.0
3    SE_20 11_1ºÓbito Covid19     Parda  Óbitos      0.0
4    SE_20 11_1ºÓbito Covid19  Indígena  Óbitos      0.0
5                    SE_20 12    Branca  Óbitos     51.0
6                    SE_20 12     Preta  Óbitos      2.0
7                    SE_20 12   Amarela  Óbitos      2.0
8                    SE_20 12     Parda  Óbitos      5.0
9                    SE_20 12  Indígena  Óbitos      0.0
10                   SE_20 13    Branca  Óbitos    229.0
11                   SE_20 13     Preta  Óbitos     17.0
12                   SE_20 13   Amarela  Óbitos     12.0
13                   SE_20 13     Parda  Óbitos     42.0
14                   SE_20 13  Indígena  Óbitos      1.0
15                   SE_20 14    Branca  Óbitos    595.0
16                   SE_20 14     Preta  Óbitos     73.0
17                   SE_20 14   Amarela  Óbitos     28.0
18                   SE_20 14     Parda  Óbitos    170.0
19                   SE_20 14  Indígena  Óbitos      1.0
20                   SE_20 15    Branca  Óbitos   1040.0
21                   SE_20 15     Preta  Óbitos    139.0
22                   SE_20 15   Amarela  Óbitos     46.0
23                   SE_20 15     Parda  Óbitos    348.0
24                   SE_20 15  Indígena  Óbitos      3.0
25                   SE_20 16    Branca  Óbitos   1492.0
26                   SE_20 16     Preta  Óbitos    195.0
27                   SE_20 16   Amarela  Óbitos     67.0
28                   SE_20 16     Parda  Óbitos    537.0
29                   SE_20 16  Indígena  Óbitos      3.0
..                        ...       ...     ...      ...
150                  SE_20 41    Branca  Óbitos  12209.0
151                  SE_20 41     Preta  Óbitos   1833.0
152                  SE_20 41   Amarela  Óbitos    447.0
153                  SE_20 41     Parda  Óbitos   4743.0
154                  SE_20 41  Indígena  Óbitos     13.0
155                  SE_20 42    Branca  Óbitos  12310.0
156                  SE_20 42     Preta  Óbitos   1851.0
157                  SE_20 42   Amarela  Óbitos    454.0
158                  SE_20 42     Parda  Óbitos   4788.0
159                  SE_20 42  Indígena  Óbitos     13.0
160                  SE_20 43    Branca  Óbitos  12399.0
161                  SE_20 43     Preta  Óbitos   1866.0
162                  SE_20 43   Amarela  Óbitos    458.0
163                  SE_20 43     Parda  Óbitos   4818.0
164                  SE_20 43  Indígena  Óbitos     13.0
165                  SE_20 44    Branca  Óbitos  12478.0
166                  SE_20 44     Preta  Óbitos   1873.0
167                  SE_20 44   Amarela  Óbitos    461.0
168                  SE_20 44     Parda  Óbitos   4845.0
169                  SE_20 44  Indígena  Óbitos     13.0
170                  SE_20 45    Branca  Óbitos  12570.0
171                  SE_20 45     Preta  Óbitos   1886.0
172                  SE_20 45   Amarela  Óbitos    463.0
173                  SE_20 45     Parda  Óbitos   4873.0
174                  SE_20 45  Indígena  Óbitos     14.0
175                  SE_20 46    Branca  Óbitos  12694.0
176                  SE_20 46     Preta  Óbitos   1899.0
177                  SE_20 46   Amarela  Óbitos    468.0
178                  SE_20 46     Parda  Óbitos   4909.0
179                  SE_20 46  Indígena  Óbitos     14.0

[180 rows x 4 columns]

In [4]:
#mort_melt["Mortes"] = mort_melt["Cor"] +" - "+mort_melt["VARNAME"]

#Removendo coluna TIPO
mort_melt.drop('TIPO', 1, inplace=True)

display(mort_melt)

                       Semana       Cor   ÓBITOS
0    SE_20 11_1ºÓbito Covid19    Branca      3.0
1    SE_20 11_1ºÓbito Covid19     Preta      0.0
2    SE_20 11_1ºÓbito Covid19   Amarela      0.0
3    SE_20 11_1ºÓbito Covid19     Parda      0.0
4    SE_20 11_1ºÓbito Covid19  Indígena      0.0
5                    SE_20 12    Branca     51.0
6                    SE_20 12     Preta      2.0
7                    SE_20 12   Amarela      2.0
8                    SE_20 12     Parda      5.0
9                    SE_20 12  Indígena      0.0
10                   SE_20 13    Branca    229.0
11                   SE_20 13     Preta     17.0
12                   SE_20 13   Amarela     12.0
13                   SE_20 13     Parda     42.0
14                   SE_20 13  Indígena      1.0
15                   SE_20 14    Branca    595.0
16                   SE_20 14     Preta     73.0
17                   SE_20 14   Amarela     28.0
18                   SE_20 14     Parda    170.0
19                   SE_20 14  Indígena      1.0
20                   SE_20 15    Branca   1040.0
21                   SE_20 15     Preta    139.0
22                   SE_20 15   Amarela     46.0
23                   SE_20 15     Parda    348.0
24                   SE_20 15  Indígena      3.0
25                   SE_20 16    Branca   1492.0
26                   SE_20 16     Preta    195.0
27                   SE_20 16   Amarela     67.0
28                   SE_20 16     Parda    537.0
29                   SE_20 16  Indígena      3.0
..                        ...       ...      ...
150                  SE_20 41    Branca  12209.0
151                  SE_20 41     Preta   1833.0
152                  SE_20 41   Amarela    447.0
153                  SE_20 41     Parda   4743.0
154                  SE_20 41  Indígena     13.0
155                  SE_20 42    Branca  12310.0
156                  SE_20 42     Preta   1851.0
157                  SE_20 42   Amarela    454.0
158                  SE_20 42     Parda   4788.0
159                  SE_20 42  Indígena     13.0
160                  SE_20 43    Branca  12399.0
161                  SE_20 43     Preta   1866.0
162                  SE_20 43   Amarela    458.0
163                  SE_20 43     Parda   4818.0
164                  SE_20 43  Indígena     13.0
165                  SE_20 44    Branca  12478.0
166                  SE_20 44     Preta   1873.0
167                  SE_20 44   Amarela    461.0
168                  SE_20 44     Parda   4845.0
169                  SE_20 44  Indígena     13.0
170                  SE_20 45    Branca  12570.0
171                  SE_20 45     Preta   1886.0
172                  SE_20 45   Amarela    463.0
173                  SE_20 45     Parda   4873.0
174                  SE_20 45  Indígena     14.0
175                  SE_20 46    Branca  12694.0
176                  SE_20 46     Preta   1899.0
177                  SE_20 46   Amarela    468.0
178                  SE_20 46     Parda   4909.0
179                  SE_20 46  Indígena     14.0

[180 rows x 3 columns]

In [5]:
#pivotando semanas
mort_pivot = mort_melt.pivot_table('ÓBITOS', ['Semana'], 'Cor')
#mort_pivot = mort_melt.pivot_table('ÓBITOS', 'Cor','Semana')

display(mort_pivot)

Cor                       Amarela   Branca  Indígena   Parda   Preta
Semana
SE_20 11_1ºÓbito Covid19      0.0      3.0       0.0     0.0     0.0
SE_20 12                      2.0     51.0       0.0     5.0     2.0
SE_20 13                     12.0    229.0       1.0    42.0    17.0
SE_20 14                     28.0    595.0       1.0   170.0    73.0
SE_20 15                     46.0   1040.0       3.0   348.0   139.0
SE_20 16                     67.0   1492.0       3.0   537.0   195.0
SE_20 17                     98.0   2011.0       4.0   752.0   277.0
SE_20 18                    122.0   2667.0       4.0  1043.0   381.0
SE_20 19                    152.0   3287.0       6.0  1346.0   468.0
SE_20 20                    170.0   3975.0       7.0  1645.0   590.0
SE_20 21                    189.0   4649.0       8.0  1973.0   675.0
SE_20 22                    208.0   5345.0       8.0  2247.0   782.0
SE_20 23                    230.0   6005.0       9.0  2510.0   901.0
SE_20 24                    254.0   6666.0      10.0  2776.0  1014.0
SE_20 25                    269.0   7228.0      11.0  2986.0  1113.0
SE_20 26                    285.0   7718.0      11.0  3162.0  1192.0
SE_20 27                    306.0   8148.0      11.0  3320.0  1269.0
SE_20 28                    317.0   8591.0      11.0  3472.0  1330.0
SE_20 29                    336.0   9036.0      12.0  3613.0  1399.0
SE_20 30                    341.0   9446.0      12.0  3764.0  1460.0
SE_20 31                    354.0   9803.0      12.0  3894.0  1502.0
SE_20 32                    372.0  10180.0      12.0  4037.0  1543.0
SE_20 33                    383.0  10517.0      12.0  4170.0  1595.0
SE_20 34                    393.0  10749.0      12.0  4260.0  1635.0
SE_20 35                    404.0  11054.0      12.0  4348.0  1663.0
SE_20 36                    415.0  11291.0      12.0  4430.0  1697.0
SE_20 37                    426.0  11533.0      12.0  4515.0  1728.0
SE_20 38                    433.0  11742.0      12.0  4581.0  1764.0
SE_20 39                    438.0  11907.0      13.0  4636.0  1791.0
SE_20 40                    443.0  12081.0      13.0  4690.0  1813.0
SE_20 41                    447.0  12209.0      13.0  4743.0  1833.0
SE_20 42                    454.0  12310.0      13.0  4788.0  1851.0
SE_20 43                    458.0  12399.0      13.0  4818.0  1866.0
SE_20 44                    461.0  12478.0      13.0  4845.0  1873.0
SE_20 45                    463.0  12570.0      14.0  4873.0  1886.0
SE_20 46                    468.0  12694.0      14.0  4909.0  1899.0

### Salvando Dataset

In [ ]:
#Salvando Dataset em Arquivo
mort_pivot.to_csv('cor-semana-pivot-tratado.csv')

In [7]:
#Adicionando coluna TOTAL de Mortes
mort_pivot['Total'] = mort_pivot['Amarela']+mort_pivot['Branca']+mort_pivot['Indígena']+mort_pivot['Parda']+mort_pivot['Preta']

In [8]:
mort_pivot.head()

Cor                       Amarela   Branca  Indígena   Parda   Preta    Total
Semana
SE_20 11_1ºÓbito Covid19      0.0      3.0       0.0     0.0     0.0      3.0
SE_20 12                      2.0     51.0       0.0     5.0     2.0     60.0
SE_20 13                     12.0    229.0       1.0    42.0    17.0    301.0
SE_20 14                     28.0    595.0       1.0   170.0    73.0    867.0
SE_20 15                     46.0   1040.0       3.0   348.0   139.0   1576.0
SE_20 16                     67.0   1492.0       3.0   537.0   195.0   2294.0
SE_20 17                     98.0   2011.0       4.0   752.0   277.0   3142.0
SE_20 18                    122.0   2667.0       4.0  1043.0   381.0   4217.0
SE_20 19                    152.0   3287.0       6.0  1346.0   468.0   5259.0
SE_20 20                    170.0   3975.0       7.0  1645.0   590.0   6387.0
SE_20 21                    189.0   4649.0       8.0  1973.0   675.0   7494.0
SE_20 22                    208.0   5345.0       8.0  2247.0   782.0   8590.0
SE_20 23                    230.0   6005.0       9.0  2510.0   901.0   9655.0
SE_20 24                    254.0   6666.0      10.0  2776.0  1014.0  10720.0
SE_20 25                    269.0   7228.0      11.0  2986.0  1113.0  11607.0
SE_20 26                    285.0   7718.0      11.0  3162.0  1192.0  12368.0
SE_20 27                    306.0   8148.0      11.0  3320.0  1269.0  13054.0
SE_20 28                    317.0   8591.0      11.0  3472.0  1330.0  13721.0
SE_20 29                    336.0   9036.0      12.0  3613.0  1399.0  14396.0
SE_20 30                    341.0   9446.0      12.0  3764.0  1460.0  15023.0
SE_20 31                    354.0   9803.0      12.0  3894.0  1502.0  15565.0
SE_20 32                    372.0  10180.0      12.0  4037.0  1543.0  16144.0
SE_20 33                    383.0  10517.0      12.0  4170.0  1595.0  16677.0
SE_20 34                    393.0  10749.0      12.0  4260.0  1635.0  17049.0
SE_20 35                    404.0  11054.0      12.0  4348.0  1663.0  17481.0
SE_20 36                    415.0  11291.0      12.0  4430.0  1697.0  17845.0
SE_20 37                    426.0  11533.0      12.0  4515.0  1728.0  18214.0
SE_20 38                    433.0  11742.0      12.0  4581.0  1764.0  18532.0
SE_20 39                    438.0  11907.0      13.0  4636.0  1791.0  18785.0
SE_20 40                    443.0  12081.0      13.0  4690.0  1813.0  19040.0
SE_20 41                    447.0  12209.0      13.0  4743.0  1833.0  19245.0
SE_20 42                    454.0  12310.0      13.0  4788.0  1851.0  19416.0
SE_20 43                    458.0  12399.0      13.0  4818.0  1866.0  19554.0
SE_20 44                    461.0  12478.0      13.0  4845.0  1873.0  19670.0
SE_20 45                    463.0  12570.0      14.0  4873.0  1886.0  19806.0
SE_20 46                    468.0  12694.0      14.0  4909.0  1899.0  19984.0

In [30]:
#Salvando Arquivo com o número de mortes
mort_pivot.to_csv('cor-semana-pivot-tratado-total.csv')

In [35]:
df_total = pd.read_csv('cor-semana-pivot-tratado-total.csv', sep=',')

In [43]:
#Renomeando item para manter o padrão
df_total["Semana"].replace({"SE_20 11_1ºÓbito Covid19": "SE_20"}, inplace=True)

In [111]:
print(df_total)

      Semana  Amarela   Branca  Indígena   Parda   Preta    Total Semana_Num
0   SE_20 11      0.0      3.0       0.0     0.0     0.0      3.0         11
1   SE_20 12      2.0     51.0       0.0     5.0     2.0     60.0         12
2   SE_20 13     12.0    229.0       1.0    42.0    17.0    301.0         13
3   SE_20 14     28.0    595.0       1.0   170.0    73.0    867.0         14
4   SE_20 15     46.0   1040.0       3.0   348.0   139.0   1576.0         15
5   SE_20 16     67.0   1492.0       3.0   537.0   195.0   2294.0         16
6   SE_20 17     98.0   2011.0       4.0   752.0   277.0   3142.0         17
7   SE_20 18    122.0   2667.0       4.0  1043.0   381.0   4217.0         18
8   SE_20 19    152.0   3287.0       6.0  1346.0   468.0   5259.0         19
9   SE_20 20    170.0   3975.0       7.0  1645.0   590.0   6387.0         20
10  SE_20 21    189.0   4649.0       8.0  1973.0   675.0   7494.0         21
11  SE_20 22    208.0   5345.0       8.0  2247.0   782.0   8590.0         22
12  SE_20 23    230.0   6005.0       9.0  2510.0   901.0   9655.0         23
13  SE_20 24    254.0   6666.0      10.0  2776.0  1014.0  10720.0         24
14  SE_20 25    269.0   7228.0      11.0  2986.0  1113.0  11607.0         25
15  SE_20 26    285.0   7718.0      11.0  3162.0  1192.0  12368.0         26
16  SE_20 27    306.0   8148.0      11.0  3320.0  1269.0  13054.0         27
17  SE_20 28    317.0   8591.0      11.0  3472.0  1330.0  13721.0         28
18  SE_20 29    336.0   9036.0      12.0  3613.0  1399.0  14396.0         29
19  SE_20 30    341.0   9446.0      12.0  3764.0  1460.0  15023.0         30
20  SE_20 31    354.0   9803.0      12.0  3894.0  1502.0  15565.0         31
21  SE_20 32    372.0  10180.0      12.0  4037.0  1543.0  16144.0         32
22  SE_20 33    383.0  10517.0      12.0  4170.0  1595.0  16677.0         33
23  SE_20 34    393.0  10749.0      12.0  4260.0  1635.0  17049.0         34
24  SE_20 35    404.0  11054.0      12.0  4348.0  1663.0  17481.0         35
25  SE_20 36    415.0  11291.0      12.0  4430.0  1697.0  17845.0         36
26  SE_20 37    426.0  11533.0      12.0  4515.0  1728.0  18214.0         37
27  SE_20 38    433.0  11742.0      12.0  4581.0  1764.0  18532.0         38
28  SE_20 39    438.0  11907.0      13.0  4636.0  1791.0  18785.0         39
29  SE_20 40    443.0  12081.0      13.0  4690.0  1813.0  19040.0         40
30  SE_20 41    447.0  12209.0      13.0  4743.0  1833.0  19245.0         41
31  SE_20 42    454.0  12310.0      13.0  4788.0  1851.0  19416.0         42
32  SE_20 43    458.0  12399.0      13.0  4818.0  1866.0  19554.0         43
33  SE_20 44    461.0  12478.0      13.0  4845.0  1873.0  19670.0         44
34  SE_20 45    463.0  12570.0      14.0  4873.0  1886.0  19806.0         45
35  SE_20 46    468.0  12694.0      14.0  4909.0  1899.0  19984.0         46

In [52]:
#criando coluna apenas com o número da semana (em relação ao ano de 2020)
df_total['Semana_Num']=df_total['Semana'].str.slice(6,8)

In [112]:
display(df_total)

      Semana  Amarela   Branca  Indígena   Parda   Preta    Total Semana_Num
0   SE_20 11      0.0      3.0       0.0     0.0     0.0      3.0         11
1   SE_20 12      2.0     51.0       0.0     5.0     2.0     60.0         12
2   SE_20 13     12.0    229.0       1.0    42.0    17.0    301.0         13
3   SE_20 14     28.0    595.0       1.0   170.0    73.0    867.0         14
4   SE_20 15     46.0   1040.0       3.0   348.0   139.0   1576.0         15
5   SE_20 16     67.0   1492.0       3.0   537.0   195.0   2294.0         16
6   SE_20 17     98.0   2011.0       4.0   752.0   277.0   3142.0         17
7   SE_20 18    122.0   2667.0       4.0  1043.0   381.0   4217.0         18
8   SE_20 19    152.0   3287.0       6.0  1346.0   468.0   5259.0         19
9   SE_20 20    170.0   3975.0       7.0  1645.0   590.0   6387.0         20
10  SE_20 21    189.0   4649.0       8.0  1973.0   675.0   7494.0         21
11  SE_20 22    208.0   5345.0       8.0  2247.0   782.0   8590.0         22
12  SE_20 23    230.0   6005.0       9.0  2510.0   901.0   9655.0         23
13  SE_20 24    254.0   6666.0      10.0  2776.0  1014.0  10720.0         24
14  SE_20 25    269.0   7228.0      11.0  2986.0  1113.0  11607.0         25
15  SE_20 26    285.0   7718.0      11.0  3162.0  1192.0  12368.0         26
16  SE_20 27    306.0   8148.0      11.0  3320.0  1269.0  13054.0         27
17  SE_20 28    317.0   8591.0      11.0  3472.0  1330.0  13721.0         28
18  SE_20 29    336.0   9036.0      12.0  3613.0  1399.0  14396.0         29
19  SE_20 30    341.0   9446.0      12.0  3764.0  1460.0  15023.0         30
20  SE_20 31    354.0   9803.0      12.0  3894.0  1502.0  15565.0         31
21  SE_20 32    372.0  10180.0      12.0  4037.0  1543.0  16144.0         32
22  SE_20 33    383.0  10517.0      12.0  4170.0  1595.0  16677.0         33
23  SE_20 34    393.0  10749.0      12.0  4260.0  1635.0  17049.0         34
24  SE_20 35    404.0  11054.0      12.0  4348.0  1663.0  17481.0         35
25  SE_20 36    415.0  11291.0      12.0  4430.0  1697.0  17845.0         36
26  SE_20 37    426.0  11533.0      12.0  4515.0  1728.0  18214.0         37
27  SE_20 38    433.0  11742.0      12.0  4581.0  1764.0  18532.0         38
28  SE_20 39    438.0  11907.0      13.0  4636.0  1791.0  18785.0         39
29  SE_20 40    443.0  12081.0      13.0  4690.0  1813.0  19040.0         40
30  SE_20 41    447.0  12209.0      13.0  4743.0  1833.0  19245.0         41
31  SE_20 42    454.0  12310.0      13.0  4788.0  1851.0  19416.0         42
32  SE_20 43    458.0  12399.0      13.0  4818.0  1866.0  19554.0         43
33  SE_20 44    461.0  12478.0      13.0  4845.0  1873.0  19670.0         44
34  SE_20 45    463.0  12570.0      14.0  4873.0  1886.0  19806.0         45
35  SE_20 46    468.0  12694.0      14.0  4909.0  1899.0  19984.0         46

In [120]:
#Trabalhando com o número da semana
data = df_total["Semana_Num"].to_numpy().astype(int)
print(data)

[11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
 35 36 37 38 39 40 41 42 43 44 45 46]

In [188]:
#Criando um vetor temporário para armazenar a data correspondente
data2 = [None]*36
i=0

#percorrendo o vetor de datas do ano e convertendo pra datas normais do ano de 2020 (salvando em outro vetor)
for item in data:
    print("i = "+str(i))
    print("item = "+str(item))
    data2[i]=(time.asctime(time.strptime('{} {} 1'.format(2020, item), '%Y %W %w')))
    i=i+1
    print("-----------------")

i = 0
item = 11
-----------------
i = 1
item = 12
-----------------
i = 2
item = 13
-----------------
i = 3
item = 14
-----------------
i = 4
item = 15
-----------------
i = 5
item = 16
-----------------
i = 6
item = 17
-----------------
i = 7
item = 18
-----------------
i = 8
item = 19
-----------------
i = 9
item = 20
-----------------
i = 10
item = 21
-----------------
i = 11
item = 22
-----------------
i = 12
item = 23
-----------------
i = 13
item = 24
-----------------
i = 14
item = 25
-----------------
i = 15
item = 26
-----------------
i = 16
item = 27
-----------------
i = 17
item = 28
-----------------
i = 18
item = 29
-----------------
i = 19
item = 30
-----------------
i = 20
item = 31
-----------------
i = 21
item = 32
-----------------
i = 22
item = 33
-----------------
i = 23
item = 34
-----------------
i = 24
item = 35
-----------------
i = 25
item = 36
-----------------
i = 26
item = 37
-----------------
i = 27
item = 38
-----------------
i = 28
item = 39
-----------------
i = 29
item = 40
-----------------
i = 30
item = 41
-----------------
i = 31
item = 42
-----------------
i = 32
item = 43
-----------------
i = 33
item = 44
-----------------
i = 34
item = 45
-----------------
i = 35
item = 46
-----------------

In [147]:
#Vetor de datas finalizado
display(data2)

['Mon Mar 16 00:00:00 2020',
 'Mon Mar 23 00:00:00 2020',
 'Mon Mar 30 00:00:00 2020',
 'Mon Apr  6 00:00:00 2020',
 'Mon Apr 13 00:00:00 2020',
 'Mon Apr 20 00:00:00 2020',
 'Mon Apr 27 00:00:00 2020',
 'Mon May  4 00:00:00 2020',
 'Mon May 11 00:00:00 2020',
 'Mon May 18 00:00:00 2020',
 'Mon May 25 00:00:00 2020',
 'Mon Jun  1 00:00:00 2020',
 'Mon Jun  8 00:00:00 2020',
 'Mon Jun 15 00:00:00 2020',
 'Mon Jun 22 00:00:00 2020',
 'Mon Jun 29 00:00:00 2020',
 'Mon Jul  6 00:00:00 2020',
 'Mon Jul 13 00:00:00 2020',
 'Mon Jul 20 00:00:00 2020',
 'Mon Jul 27 00:00:00 2020',
 'Mon Aug  3 00:00:00 2020',
 'Mon Aug 10 00:00:00 2020',
 'Mon Aug 17 00:00:00 2020',
 'Mon Aug 24 00:00:00 2020',
 'Mon Aug 31 00:00:00 2020',
 'Mon Sep  7 00:00:00 2020',
 'Mon Sep 14 00:00:00 2020',
 'Mon Sep 21 00:00:00 2020',
 'Mon Sep 28 00:00:00 2020',
 'Mon Oct  5 00:00:00 2020',
 'Mon Oct 12 00:00:00 2020',
 'Mon Oct 19 00:00:00 2020',
 'Mon Oct 26 00:00:00 2020',
 'Mon Nov  2 00:00:00 2020',
 'Mon Nov  9 00:00:00 2020',
 'Mon Nov 16 00:00:00 2020']

In [148]:
#Adicionando as datas no formato comum ao Dataset
df_total['Data']=data2

In [149]:
display(df_total)

,Semana,Amarela,Branca,Indígena,Parda,Preta,Total,Semana_Num,Data
0,SE_20 11,0.0,3.0,0.0,0.0,0.0,3.0,11,Mon Mar 16 00:00:00 2020
1,SE_20 12,2.0,51.0,0.0,5.0,2.0,60.0,12,Mon Mar 23 00:00:00 2020
2,SE_20 13,12.0,229.0,1.0,42.0,17.0,301.0,13,Mon Mar 30 00:00:00 2020
3,SE_20 14,28.0,595.0,1.0,170.0,73.0,867.0,14,Mon Apr 6 00:00:00 2020
4,SE_20 15,46.0,1040.0,3.0,348.0,139.0,1576.0,15,Mon Apr 13 00:00:00 2020
5,SE_20 16,67.0,1492.0,3.0,537.0,195.0,2294.0,16,Mon Apr 20 00:00:00 2020
6,SE_20 17,98.0,2011.0,4.0,752.0,277.0,3142.0,17,Mon Apr 27 00:00:00 2020
7,SE_20 18,122.0,2667.0,4.0,1043.0,381.0,4217.0,18,Mon May 4 00:00:00 2020
8,SE_20 19,152.0,3287.0,6.0,1346.0,468.0,5259.0,19,Mon May 11 00:00:00 2020
9,SE_20 20,170.0,3975.0,7.0,1645.0,590.0,6387.0,20,Mon May 18 00:00:00 2020
10,SE_20 21,189.0,4649.0,8.0,1973.0,675.0,7494.0,21,Mon May 25 00:00:00 2020
11,SE_20 22,208.0,5345.0,8.0,2247.0,782.0,8590.0,22,Mon Jun 1 00:00:00 2020
12,SE_20 23,230.0,6005.0,9.0,2510.0,901.0,9655.0,23,Mon Jun 8 00:00:00 2020
13,SE_20 24,254.0,6666.0,10.0,2776.0,1014.0,10720.0,24,Mon Jun 15 00:00:00 2020
14,SE_20 25,269.0,7228.0,11.0,2986.0,1113.0,11607.0,25,Mon Jun 22 00:00:00 2020
15,SE_20 26,285.0,7718.0,11.0,3162.0,1192.0,12368.0,26,Mon Jun 29 00:00:00 2020
16,SE_20 27,306.0,8148.0,11.0,3320.0,1269.0,13054.0,27,Mon Jul 6 00:00:00 2020
17,SE_20 28,317.0,8591.0,11.0,3472.0,1330.0,13721.0,28,Mon Jul 13 00:00:00 2020
18,SE_20 29,336.0,9036.0,12.0,3613.0,1399.0,14396.0,29,Mon Jul 20 00:00:00 2020
19,SE_20 30,341.0,9446.0,12.0,3764.0,1460.0,15023.0,30,Mon Jul 27 00:00:00 2020
20,SE_20 31,354.0,9803.0,12.0,3894.0,1502.0,15565.0,31,Mon Aug 3 00:00:00 2020
21,SE_20 32,372.0,10180.0,12.0,4037.0,1543.0,16144.0,32,Mon Aug 10 00:00:00 2020
22,SE_20 33,383.0,10517.0,12.0,4170.0,1595.0,16677.0,33,Mon Aug 17 00:00:00 2020
23,SE_20 34,393.0,10749.0,12.0,4260.0,1635.0,17049.0,34,Mon Aug 24 00:00:00 2020
24,SE_20 35,404.0,11054.0,12.0,4348.0,1663.0,17481.0,35,Mon Aug 31 00:00:00 2020
25,SE_20 36,415.0,11291.0,12.0,4430.0,1697.0,17845.0,36,Mon Sep 7 00:00:00 2020
26,SE_20 37,426.0,11533.0,12.0,4515.0,1728.0,18214.0,37,Mon Sep 14 00:00:00 2020
27,SE_20 38,433.0,11742.0,12.0,4581.0,1764.0,18532.0,38,Mon Sep 21 00:00:00 2020
28,SE_20 39,438.0,11907.0,13.0,4636.0,1791.0,18785.0,39,Mon Sep 28 00:00:00 2020
29,SE_20 40,443.0,12081.0,13.0,4690.0,1813.0,19040.0,40,Mon Oct 5 00:00:00 2020
30,SE_20 41,447.0,12209.0,13.0,4743.0,1833.0,19245.0,41,Mon Oct 12 00:00:00 2020
31,SE_20 42,454.0,12310.0,13.0,4788.0,1851.0,19416.0,42,Mon Oct 19 00:00:00 2020
32,SE_20 43,458.0,12399.0,13.0,4818.0,1866.0,19554.0,43,Mon Oct 26 00:00:00 2020
33,SE_20 44,461.0,12478.0,13.0,4845.0,1873.0,19670.0,44,Mon Nov 2 00:00:00 2020
34,SE_20 45,463.0,12570.0,14.0,4873.0,1886.0,19806.0,45,Mon Nov 9 00:00:00 2020
35,SE_20 46,468.0,12694.0,14.0,4909.0,1899.0,19984.0,46,Mon Nov 16 00:00:00 2020

In [189]:
#Salvando dataset em arquivo
df_total.to_csv('cor-semana-pivot-tratado-total-dates.csv')