In [1]:
import numpy as np #lib para cálculos e funções em arrays multidimensionais
import pandas as pd #pandas - libpra manipulação e análise de dados de alta performance

## 1 - INGESTÃO: Carregando primeiro Dataset ##

In [3]:
cor_se_temp = pd.read_csv('cor-se-suspeitos.csv', sep=';', encoding = "ISO-8859-1",skiprows=[0,1,2,3,12,13,14,15])

print('\nTabela Original - Óbitos por covid / Raça / Semana Epidemiológica')

display(cor_se_temp)

Tabela Original - Óbitos por covid / Raça / Semana Epidemiológica

,Cor,SE_20 11_1ºÓbito Covid19,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,...,SE_20 45,SE_20 46,SE_20 47,SE_20 48,SE_20 49,SE_20 50,SE_20 51,SE_20 52,SE_20 53,Total
0,Branca,3,48,178,362,437,442,501,634,615,...,105,137,159,192,228,262,301,284,191,14297
1,Preta,-,2,15,54,64,55,78,102,86,...,14,16,16,30,27,40,39,44,27,2108
2,Amarela,-,2,10,16,17,19,28,24,30,...,2,6,10,9,8,11,11,15,15,544
3,Parda,-,5,37,126,171,187,207,283,301,...,36,42,48,51,76,66,84,80,64,5367
4,Indígena,-,-,1,-,2,-,1,-,2,...,1,-,-,-,-,1,-,-,-,16
5,Não informado,-,-,12,17,25,28,22,41,41,...,3,3,1,7,8,15,16,11,9,756
6,Total,3,57,253,575,716,731,837,1084,1075,...,161,204,234,289,347,395,451,434,306,23088

## 2 - Tratamento dos dados

In [4]:
## Converter os valores todos para numérico, se der erro, setar como NaN e depois converter pro número 0
cor_se = cor_se_temp.apply(pd.to_numeric, errors='coerce').fillna(0)

print('\nResultado do Primeiro Tratamento - Óbitos por covid / Raça / Semana Epidemiológica')


display(cor_se)

Resultado do Primeiro Tratamento - Óbitos por covid / Raça / Semana Epidemiológica

,Cor,SE_20 11_1ºÓbito Covid19,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,...,SE_20 45,SE_20 46,SE_20 47,SE_20 48,SE_20 49,SE_20 50,SE_20 51,SE_20 52,SE_20 53,Total
0,0.0,3.0,48.0,178,362.0,437,442.0,501,634.0,615,...,105,137.0,159.0,192.0,228.0,262,301.0,284.0,191.0,14297
1,0.0,0.0,2.0,15,54.0,64,55.0,78,102.0,86,...,14,16.0,16.0,30.0,27.0,40,39.0,44.0,27.0,2108
2,0.0,0.0,2.0,10,16.0,17,19.0,28,24.0,30,...,2,6.0,10.0,9.0,8.0,11,11.0,15.0,15.0,544
3,0.0,0.0,5.0,37,126.0,171,187.0,207,283.0,301,...,36,42.0,48.0,51.0,76.0,66,84.0,80.0,64.0,5367
4,0.0,0.0,0.0,1,0.0,2,0.0,1,0.0,2,...,1,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,16
5,0.0,0.0,0.0,12,17.0,25,28.0,22,41.0,41,...,3,3.0,1.0,7.0,8.0,15,16.0,11.0,9.0,756
6,0.0,3.0,57.0,253,575.0,716,731.0,837,1084.0,1075,...,161,204.0,234.0,289.0,347.0,395,451.0,434.0,306.0,23088

In [5]:
## Como eu perdi os dados da coluna 0 (que foram transformados no valor 0), preciso resgatar do Dataset original e sobrescrever.
cor_se['Cor'] = cor_se_temp['Cor']

print('\nResultado do Segundo Tratamento - Óbitos por covid / Raça / Semana Epidemiológica')


display(cor_se)

Resultado do Segundo Tratamento - Óbitos por covid / Raça / Semana Epidemiológica

,Cor,SE_20 11_1ºÓbito Covid19,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,...,SE_20 45,SE_20 46,SE_20 47,SE_20 48,SE_20 49,SE_20 50,SE_20 51,SE_20 52,SE_20 53,Total
0,Branca,3.0,48.0,178,362.0,437,442.0,501,634.0,615,...,105,137.0,159.0,192.0,228.0,262,301.0,284.0,191.0,14297
1,Preta,0.0,2.0,15,54.0,64,55.0,78,102.0,86,...,14,16.0,16.0,30.0,27.0,40,39.0,44.0,27.0,2108
2,Amarela,0.0,2.0,10,16.0,17,19.0,28,24.0,30,...,2,6.0,10.0,9.0,8.0,11,11.0,15.0,15.0,544
3,Parda,0.0,5.0,37,126.0,171,187.0,207,283.0,301,...,36,42.0,48.0,51.0,76.0,66,84.0,80.0,64.0,5367
4,Indígena,0.0,0.0,1,0.0,2,0.0,1,0.0,2,...,1,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,16
5,Não informado,0.0,0.0,12,17.0,25,28.0,22,41.0,41,...,3,3.0,1.0,7.0,8.0,15,16.0,11.0,9.0,756
6,Total,3.0,57.0,253,575.0,716,731.0,837,1084.0,1075,...,161,204.0,234.0,289.0,347.0,395,451.0,434.0,306.0,23088

In [8]:
#Renomeando Coluna para manter o padrão
cor_se.rename({'SE_20 11_1ºÓbito Covid19': 'SE_20 11'}, axis=1, inplace=True)
display(cor_se)

,Cor,SE_20 11,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,...,SE_20 45,SE_20 46,SE_20 47,SE_20 48,SE_20 49,SE_20 50,SE_20 51,SE_20 52,SE_20 53,Total
0,Branca,3.0,48.0,178,362.0,437,442.0,501,634.0,615,...,105,137.0,159.0,192.0,228.0,262,301.0,284.0,191.0,14297
1,Preta,0.0,2.0,15,54.0,64,55.0,78,102.0,86,...,14,16.0,16.0,30.0,27.0,40,39.0,44.0,27.0,2108
2,Amarela,0.0,2.0,10,16.0,17,19.0,28,24.0,30,...,2,6.0,10.0,9.0,8.0,11,11.0,15.0,15.0,544
3,Parda,0.0,5.0,37,126.0,171,187.0,207,283.0,301,...,36,42.0,48.0,51.0,76.0,66,84.0,80.0,64.0,5367
4,Indígena,0.0,0.0,1,0.0,2,0.0,1,0.0,2,...,1,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,16
5,Não informado,0.0,0.0,12,17.0,25,28.0,22,41.0,41,...,3,3.0,1.0,7.0,8.0,15,16.0,11.0,9.0,756
6,Total,3.0,57.0,253,575.0,716,731.0,837,1084.0,1075,...,161,204.0,234.0,289.0,347.0,395,451.0,434.0,306.0,23088

In [11]:
#removendo a primeira última coluna
cor_se_norm = cor_se.loc[:, cor_se.columns[1:-1]]

#realizando a soma cumulativa através das colunas (da esquerda pra direita ------->)
cor_se_norm = cor_se_norm.cumsum(axis=1)

display(cor_se_norm)

,SE_20 11,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,SE_20 20,...,SE_20 44,SE_20 45,SE_20 46,SE_20 47,SE_20 48,SE_20 49,SE_20 50,SE_20 51,SE_20 52,SE_20 53
0,3.0,51.0,229.0,591.0,1028.0,1470.0,1971.0,2605.0,3220.0,3905.0,...,12438.0,12543.0,12680.0,12839.0,13031.0,13259.0,13521.0,13822.0,14106.0,14297.0
1,0.0,2.0,17.0,71.0,135.0,190.0,268.0,370.0,456.0,576.0,...,1855.0,1869.0,1885.0,1901.0,1931.0,1958.0,1998.0,2037.0,2081.0,2108.0
2,0.0,2.0,12.0,28.0,45.0,64.0,92.0,116.0,146.0,164.0,...,457.0,459.0,465.0,475.0,484.0,492.0,503.0,514.0,529.0,544.0
3,0.0,5.0,42.0,168.0,339.0,526.0,733.0,1016.0,1317.0,1615.0,...,4820.0,4856.0,4898.0,4946.0,4997.0,5073.0,5139.0,5223.0,5303.0,5367.0
4,0.0,0.0,1.0,1.0,3.0,3.0,4.0,4.0,6.0,7.0,...,14.0,15.0,15.0,15.0,15.0,15.0,16.0,16.0,16.0,16.0
5,0.0,0.0,12.0,29.0,54.0,82.0,104.0,145.0,186.0,226.0,...,683.0,686.0,689.0,690.0,697.0,705.0,720.0,736.0,747.0,756.0
6,3.0,60.0,313.0,888.0,1604.0,2335.0,3172.0,4256.0,5331.0,6493.0,...,20267.0,20428.0,20632.0,20866.0,21155.0,21502.0,21897.0,22348.0,22782.0,23088.0

In [12]:
#adicionando novamente a coluna das cores
cor_se_norm['Cor'] = cor_se['Cor']
display(cor_se_norm)

,SE_20 11,SE_20 12,SE_20 13,SE_20 14,SE_20 15,SE_20 16,SE_20 17,SE_20 18,SE_20 19,SE_20 20,...,SE_20 45,SE_20 46,SE_20 47,SE_20 48,SE_20 49,SE_20 50,SE_20 51,SE_20 52,SE_20 53,Cor
0,3.0,51.0,229.0,591.0,1028.0,1470.0,1971.0,2605.0,3220.0,3905.0,...,12543.0,12680.0,12839.0,13031.0,13259.0,13521.0,13822.0,14106.0,14297.0,Branca
1,0.0,2.0,17.0,71.0,135.0,190.0,268.0,370.0,456.0,576.0,...,1869.0,1885.0,1901.0,1931.0,1958.0,1998.0,2037.0,2081.0,2108.0,Preta
2,0.0,2.0,12.0,28.0,45.0,64.0,92.0,116.0,146.0,164.0,...,459.0,465.0,475.0,484.0,492.0,503.0,514.0,529.0,544.0,Amarela
3,0.0,5.0,42.0,168.0,339.0,526.0,733.0,1016.0,1317.0,1615.0,...,4856.0,4898.0,4946.0,4997.0,5073.0,5139.0,5223.0,5303.0,5367.0,Parda
4,0.0,0.0,1.0,1.0,3.0,3.0,4.0,4.0,6.0,7.0,...,15.0,15.0,15.0,15.0,15.0,16.0,16.0,16.0,16.0,Indígena
5,0.0,0.0,12.0,29.0,54.0,82.0,104.0,145.0,186.0,226.0,...,686.0,689.0,690.0,697.0,705.0,720.0,736.0,747.0,756.0,Não informado
6,3.0,60.0,313.0,888.0,1604.0,2335.0,3172.0,4256.0,5331.0,6493.0,...,20428.0,20632.0,20866.0,21155.0,21502.0,21897.0,22348.0,22782.0,23088.0,Total

## 3 - Exportanto resultado

In [13]:
cor_se_norm.to_csv('cor-semana-covid-tratado.csv')